<!doctype html>
<html lang="en">
	<header>
		<title>Shared DrawPad</title>

		<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet"/>
		<link type="text/css" href="css/drawpad.css" rel="stylesheet"/>
		<!-- <script src="js/jquery-1.10.2.min.js"></script> -->
		<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

		<script src="js/bootstrap.min.js"></script>
		<script src="js/drawing.js"></script>

		<link type="text/css" href="style.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="script.js"></script>
		<script>
			/*
			var setScroll = function(){
				var divScroll = document.getElementById('chatEntries');
				divScroll.scrollTop = divScroll.scrollHeight;
				
				var slimScroll = $(".slimScrollBar ui-draggable").css("display");
				alert(slimScroll);
				//alert(slimScroll.attr("style", "top"));
				//alert(divScroll.scrollHeight);
				//slimScroll.top = divScroll.scrollHeight;
			};
			*/
		</script>
	</header>

	<body>
		<div id="nbUsersDiv" class="infos">
			<p style="padding: 10px;">
				현재 접속사용자 <span id="nbUsers"></span> 명
			</p>
		</div>
		
		<!-- Canvas -->
		<div id="drawingPad">
			<!-- This is where all the code will be place dynamically -->
		</div>
		
		<!-- chatting -->
		<div id="main" class="container" style="margin-left:10px;">
			<div id="chatEntries"></div>
			<div id="entries" class="row">
				<input type="text" id="messageInput">
				<div class="btn-group">
					<button id="submit" data-loading-text="　전송　" class="btn">　전송　</button>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$(document).bind("touchmove", function(e) {
				e.preventDefault();
			});
			// overriding default options
			var options = {
				width : 500,
				height : 300
			};
			
			// 정성일. 제일 하단 SAVE 빼고 버튼명 한글로 변경
			var useTools = ["연결", "그리기", "선그리기", "삭제"];
			
			//init the drawpad
			var dp = new DrawingPad(options);
			// 정성일. 신규 그리기 옵션
			dp.init("#drawingPad", useTools);
			// 정성일. 기존 그리기 사용안함
			//dp.init("#drawingPad");
		</script>

		<div id="modalPseudo" class="modal fade">
			<div class="modal-header">
				<h3>Choose a name</h3>
			</div>
			<div class="modal-body">
				<p>
					Choose a name :
				</p>
				<input type="text" id="pseudoInput">
				<div id="alertPseudo" class="alert alert-error">
					This name is already used ! Choose another one.
				</div>
			</div>
			<div class="modal-footer">
				<button id="pseudoSubmit" class="btn btn-primary">
					Go to the chat
				</button>
			</div>
		</div>
	</body>
</html>
